head {
  display: none;
}

body {
  font-family: 'Source Sans Pro', 'sans-serif';
  color: #222;
  font-size: 4rem;
  background-color: #e0e0e0;
  display: block;
  margin: 8px;
}

.reactContainer {
  display: flex;
  justify-content: flex-end;
}

.reactContainer a {
  font-size: 2rem;
}

.greeting {
  margin: 5%;
}

.greeting p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  background-color: gold;
  display: inline-block;
  margin-bottom: 2%;
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.iplusone {
  height: 3rem;
}

.bite {
  height: 5rem;
}

.likeminds {
  height: 6rem;
}

.social {
  display: flex;
  justify-content: space-evenly;
  margin: 25% 5% 5% 5%;
  padding: 0;
  list-style: none;
}

.social li {
  display: inline;
  margin-left: 5%;
}

.social li:first-child {
  margin-left: 0;
}

a {
  color: #222;
}

.fab:hover {
  color:#706d6d;
}